/* Universal Styles */
html{
  font-size: 18px;
  font-family: Helvetica;
}
/* Header */

.container{
  background-color: black;
  padding-top: 0.12rem;/* 0.66rem */
  padding-bottom: 0.12rem;/* 0.66rem */
  width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  border: 1px solid blue;
}

h3{
  color: white;
  display: inline;
  font-size: 1rem;
  font-weight: normal;
  border: 1px solid yellow;
}
header img{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  border: 1px solid red;
}
header{
width: 100%;
background-color: black;
}
/* Banner */
.main-banner{
  background-image: url("./moto.jpeg");
  height: 25rem;

}
